#chartdiv {
  width: 100%;
  height: 50vh;
  max-width: 100%;
}
.date-picker {
  span {
    display: block;
    min-width: 50px;
  }
}
.table-horizontal {
  display: flex;
  width: 100%;
  overflow: auto;
  padding-left: 0;
  .item {
    list-style-type: none;
    width: fit-content;
    padding-right: 1.5rem;
    * {
      white-space: nowrap;
      text-align: center;
    }
    .title {
      font-weight: bold;
    }
    &:nth-child(1) .value {
      font-weight: bold;
    }
  }
}
.color-box {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 4px;
  margin-right: 5px;
}