<template>
  <!-- begin:: Header Topbar -->
  <div class="header__topbar d-flex justify-content-between w-100">
    <!--begin: User Bar -->
    <div class="title-subheader ml-0"> <span>Dashboard</span></div>
    <div class="kt-header__topbar-item kt-header__topbar-item--user">
      <div
        class="kt-header__topbar-wrapper"
        id="kt_user_toggle"
        data-toggle="dropdown"
      >
        <div class="kt-header__topbar-user">
          <b-button variant="danger" @click="onLogout">Đăng xuất</b-button>
        </div>
      </div>
    </div>
    <!--end: User Bar -->
  </div>
  <!-- end:: Header Topbar -->
</template>

<style lang="scss" scope>
  .title-subheader {
    margin: auto;
    font-weight: 500;
  }

  .kt-header__topbar-user {
    height: auto !important;
    padding: 0 !important;
  }
</style>

<script>
import Swal from "sweetalert2";

export default {
  name: "KTTopbar",
  components: {
  },
  methods: {
    onLogout() {
      Swal.fire({
        icon: 'warning',
        text: 'Bạn có chắc muốn đăng xuất?',
        confirmButtonText: "Đăng xuất",
        cancelButtonText: "Không",
        showCancelButton: true,
        reverseButtons: true,
      })
      .then(res => {
        if (res.value) {
          localStorage.removeItem('token')
          this.$router.push("login");
        }
      })
    },
  },
};
</script>
