<template>
  <div class="kt-grid kt-grid--hor kt-grid--root">
    <Loader v-bind:logo="loaderLogo"></Loader>

    <KTHeader></KTHeader>

    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">

      <div
        class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper"
        id="kt_wrapper"
      >

        <div
          class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
          id="kt_content"
        >
          <div class="kt-container kt-grid__item kt-grid__item--fluid kt-container--fluid">
            <!-- BODY start -->
                <DailyReport></DailyReport>
            <!-- BODY end -->
          </div>
        </div>

        <KTFooter></KTFooter>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import KTHeader from "@/components/header/Header.vue";
import KTFooter from "@/components/footer/Footer.vue";
import Loader from "@/components/Loader.vue";
import DailyReport from "@/components/report/DailyReport.vue";

export default {
  name: "Dashboard",
  components: {
    KTHeader,
    KTFooter,
    Loader,
    DailyReport
  },
  methods: {},
  beforeMount() {
    // show page loading
    // initialize html element classes
  },
  mounted() {
  },
  computed: {

    /**
     * Page loader logo image using require() function
     * @returns {string}
     */
    loaderLogo() {
    }
  }
};
</script>
