<template>
  <div class="dashboard mt-4">
    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-6 mx-auto">
      <KTPortlet title="License Key" headSize="md">
        <template v-slot:toolbar>
          <SearchInput pHolder="Tìm kiếm..." @search="onSearchLicenseKey"></SearchInput>
          <b-button variant="primary" class="btn-create" @click="createLicenseKey">Tạo mới</b-button>
          <span class="icon-create ml-2" @click="createLicenseKey">
            <i class="flaticon2-add"></i>
          </span>
        </template>

        <template v-slot:body>
          <div class="table-license-key">
            <b-table :busy="loadingLicense"
            hover
            :items="dataLicenseKey"
            :fields="fieldsLicenseKey"
            responsive show-empty
            head-variant="light"
            sticky-header>

              <template v-slot:cell($index)="data">
                {{ data.index + 1}}
              </template>

              <template v-slot:cell(key.local)="data">
                <div
                  v-b-toggle="data.value"
                  @click="data.toggleDetails">
                  <span>{{data.value}}</span>
                </div>
              </template>

              <template v-slot:cell(active)="data">
                <span v-if="data.value" class="active">Active</span>
                <span v-else class="no-active">Non-Active</span>
              </template>
              
              <template v-slot:cell(activeDate)="data">
                <span>{{ formatDate(data.value) }}</span>
              </template>

              <template v-slot:cell(expireDate)="data">
                <span>{{ formatDate(data.value) }}</span>
              </template>

              <template v-slot:cell(_id)="data">
                <div>
                  <span class="pr-3 action-icon" @click="updateLicenseKey(data.item)">
                    <i class="flaticon-edit-1"></i>
                  </span>
                  <span class="action-icon" @click="removeLicense(data.item)">
                    <i class="flaticon-delete"></i>
                  </span>
                </div>
              </template>

              <template v-slot:row-details="row">
                <b-card class="card-content">
                  <ul class="card-text">
                    <li class="content-item">
                      <span class="title">Tên khách hàng</span>
                      <span >{{row.item.owner.name}}</span>
                    </li>
                    <li class="content-item">
                      <span class="title">Email</span>
                      <span>{{row.item.owner.address}}</span>
                    </li>
                    <li class="content-item">
                      <span class="title">Số điện thoại</span>
                      <span>{{row.item.owner.phone}}</span>
                    </li>
                  </ul>

                </b-card>
              </template>

              <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                  <b-spinner class="align-middle" variant="primary"></b-spinner>
                </div>
              </template>

              <template v-slot:empty>
                <div class=" mt-3">
                  <h6 class="text-center">Không tìm thấy License nào</h6>
                </div>
              </template>

            </b-table>
          </div>
        </template>
      </KTPortlet>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-9 col-xl-6 mx-auto">
      <KTPortlet title="Slideshow" headSize="md">
        <template v-slot:toolbar>
          <SearchInput pHolder="Tìm kiếm..." @search="onSearchSlideshow"></SearchInput>
          <b-button variant="primary" class="btn-create" @click="createSlideshow">Tạo mới</b-button>
          <span class="icon-create ml-2" @click="createSlideshow">
            <i class="flaticon2-add"></i>
          </span>

        </template>
        <template v-slot:body>
          <div class="table-slide">
            <b-table hover
            :items="dataSlidesShow"
            :fields="fieldsSlides"
            responsive="sm"
            show-empty
            head-variant="light"
            :busy="loadingSlide"
            sticky-header>
              <template v-slot:cell($index)="data">
                {{ data.index + 1}}
              </template>
              <template v-slot:cell(image)="data">
                <div class="image-slide">
                  <img :src="data.value" alt="">
                </div>
              </template>

              <template v-slot:cell(_id)="data">
                <div>
                  <span class="pr-3 action-icon" @click="updateSlideshow(data.item)">
                    <i class="flaticon-edit-1"></i>
                  </span>
                  <span class="action-icon" @click="removeImageSlide(data.item)">
                    <i class="flaticon-delete"></i>
                  </span>
                </div>
              </template>

              <template v-slot:empty>
                <div class="mt-3">
                  <h6 class="text-center">Không tìm thấy hình ảnh nào</h6>
                </div>
              </template>

              <template v-slot:table-busy>
                <div class="text-center text-danger my-2">
                  <b-spinner class="align-middle" variant="primary"></b-spinner>
                </div>
              </template>
            </b-table>
          </div>
        </template>
      </KTPortlet>
    </div>

    <b-modal v-model="showCreateLicenseKey"
      id="modal-prevent-closing"
      ref="modal"
      :title="titleLicense"
      hide-footer
      size="lg"
      >
      <form ref="form" @submit.stop.prevent="handerCreateLicenseKey" class="create-license">
        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Key</label>
          </b-col>
          <b-col sm="9">
            <b-form-input
            id="name-input"
            v-model="formClienseKey.key"
            disabled
            sm="9"
          ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="mt-3" v-if="dataCurrentLicense._id">
          <b-col sm="3">
            <label class="title">Trạng thái</label>
          </b-col>
          <b-col sm="9">
            <b-form-select  :options="states" v-model="formClienseKey.active">
            </b-form-select>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Hạn sử dụng</label>
          </b-col>
          <b-col sm="9">
            <div class="d-flex screen-mobile">
              <div>
                <b-form-datepicker
                id="from-date"
                v-bind="labels['vn'] || {}"
                v-model="formClienseKey.activeDate"
                locale="vie"
              ></b-form-datepicker>
              </div>

              <div class="d-flex ml-3 screen-mobile-to">
                <b-col sm="2">
                  <label class="title">Đến</label>
                </b-col>
                <b-col sm="12">
                  <b-form-datepicker
                    id="to-date"
                    v-bind="labels['vn'] || {}"
                    locale="vie"
                    v-model="formClienseKey.expireDate"
                  ></b-form-datepicker>
                </b-col>
              </div>
            </div>
          </b-col>
        </b-row>

        <h6 class="title-info mt-5 text-center">Thông tin khách hàng</h6>
        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Tên</label>
          </b-col>
          <b-col sm="9">
            <b-form-input
            id="name-input"
            sm="9"
            v-model="formClienseKey.name"
          ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Email</label>
          </b-col>
          <b-col sm="9">
            <b-form-input
            type="text"
            id="name-input"
            sm="9"
            v-model="formClienseKey.address"
          ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Số điện thoại</label>
          </b-col>
          <b-col sm="9">
            <b-form-input
            id="name-input"
            sm="9"
            v-model="formClienseKey.phone"
          ></b-form-input>
          </b-col>
        </b-row>

        <div class="text-right mt-3">
          <b-button variant="primary" class="btn-create" type="submit">Hoàn thành</b-button>
        </div>
      </form>
    </b-modal>

    <b-modal v-model="showCreateSlideshow"
      id="modal-prevent-closing"
      ref="modal"
      :title="titleSlide"
      hide-footer
      >
      <form ref="form" @submit.stop.prevent="handerCreateSlideshow" class="create-sliseshow">
        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Tiêu đề</label>
          </b-col>
          <b-col sm="9">
            <b-form-input
            id="name-input"
            v-model="formSlideShow.name"
            required
            sm="9"
          ></b-form-input>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Hình ảnh</label>
          </b-col>
          <b-col sm="9">
            <div class="box" v-if="!url">
              <input 
                type="file"
                id="file-image"
                class="inputfile inputfile-image"
                required
                @change="onFileChange"/>
              <label for="file-image">
                <i class="flaticon2-image-file"></i>
              </label>
            </div>

            <div id="preview" v-if="url">
              <div class="content" :style="{'background-image': `url(${url})`}"></div>
              <i class="flaticon2-cross" @click="removeImage"></i>
            </div>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Link</label>
          </b-col>
          <b-col sm="9">
            <b-form-input
            id="name-input"
            v-model="formSlideShow.link"
            sm="9"
          ></b-form-input>
          </b-col>
        </b-row>

        <div class="text-right mt-3">
          <b-button variant="primary" class="btn-create" type="submit" :disabled="!fileImage || !formSlideShow.name || !formSlideShow.link">Hoàn thành</b-button>
        </div>
      </form>
    </b-modal>

    <b-modal v-model="showEditLicenseKey"
      id="modal-prevent-closing"
      ref="modal"
      title="Chỉnh sửa Cliense Key"
      hide-footer
      size="lg"
      >
      <form ref="form" @submit.stop.prevent="handerEditLicenseKey" class="edit-license">
        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Trạng thái</label>
          </b-col>
          <b-col sm="9">
            <b-form-select  :options="states" v-model="formClienseKey.status">
            </b-form-select>
          </b-col>
        </b-row>

        <b-row class="mt-3">
          <b-col sm="3">
            <label class="title">Hạn sử dụng</label>
          </b-col>
          <b-col sm="9">
            <div class="row">
              <div class="col-md-6 col-sm-12 d-flex">
                <b-form-datepicker
                id="from-date"
                v-bind="labels['vn'] || {}"
                v-model="formClienseKey.activeDate"
                locale="vie"
              ></b-form-datepicker>
              </div>

              <div class="d-flex ml-3 col-md-6">
                <b-col sm="2">
                  <label class="title">Đến</label>
                </b-col>
                <b-col sm="12">
                  <b-form-datepicker
                    id="to-date"
                    v-bind="labels['vn'] || {}"
                    locale="vie"
                    v-model="formClienseKey.expireDate"
                  ></b-form-datepicker>
                </b-col>
              </div>
            </div>
          </b-col>
        </b-row>

        <div class="text-right mt-3">
          <b-button variant="primary" class="btn-create" type="submit">Hoàn thành</b-button>
        </div>
      </form>
    </b-modal>

  </div>
</template>

<style lang="scss" src="./style.scss"></style>
<script src="./index.js"></script>
