.dashboard {
    .btn-create {
        white-space: nowrap;
    }

    .table-license-key {
        .active {
            color: #28a745;
        }

        .no-active {
            color: #ffc107;
        }

        .card-text {
            padding-left: 0;

            .content-item {
                list-style: none;
                border-bottom: 1px solid #e8e8e8;
                padding: 10px 0;

                &:last-child {
                    border-bottom: none;
                }

                .title {
                    width: 150px;
                    display: inline-block;
                }
            }
        }

        .license-key {
            max-width: 300px;
        }

        .status {
            white-space: pre;
        }
    }

    .table-slide {
        .title-slide {
            max-width: 300px;
        }

    }
    
    .action-icon {
        color: #5867dd;

        &:hover {
            cursor: pointer;
        }
    }

    tr {
        td {
          div {
            &:focus {
              outline: none;
            }
          }
        }
    }

    .b-table-details {
        &:focus {
          outline: none;
        }
    }


}

.create-license, .create-sliseshow {
    .title {
        line-height: 2.5;
    }
}


.create-license {
    .title-info {
        font-weight: 600;
    }

    .screen-mobile {
        display: flex !important;
    }

    .screen-mobile-to {
        display: flex !important;
        margin-left: 1rem !important;
    }
}

#preview {
    width: 100px;
    height: 100px;

    .flaticon2-cross {
        display: none;
    }

    &:hover {
        cursor: pointer;

        .flaticon2-cross {
            display: block;
            position: absolute;
            top: 10px;
            left: 85px;
        }

        .content {
            opacity: 0.7;
        }
    }

    .content {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 1px solid #e2e2e2;
    }
}

.inputfile-image + label{
    width: 100px;
    height: 100px;
    background-color: #fff;
    position: relative;
    padding: 30px;
    margin: 0 auto 10px;
    border-radius: 3px;
    border: 1px solid #e8e8e8;
    text-align: center;
    line-height: 1;
    font-size: 30px;
    margin: 0;

    .flaticon2-image-file {
        padding-left: 5px;
        color: #d8d8d8;
    }

    &:hover {
        cursor: pointer;
    }
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.image-slide {
    width: 50px;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 4px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }
}

.btn-create {
    display: inline-block;
}

.icon-create {
    display: none;
}

.header__topbar {
    background: #fff;
    padding: 10px 20px;
}

.kt-header__topbar-item--user {
    margin: auto 0;
}

@media (min-width: 1025px) {
    .kt-header--fixed.kt-subheader--fixed.kt-subheader--enabled .kt-wrapper {
        padding-top: 65px;
    }

    .kt-aside--enabled .kt-header.kt-header--fixed {
        left: 0;
    }

    .kt-aside--fixed .kt-wrapper {
        padding-left: 0;
    }
}

@media (max-width: 1024px) {
    .create-license {
        .screen-mobile {
            display: block !important;
        }
    
        .screen-mobile-to {
            display: block !important;
            margin-left: -1rem !important;
        }
    }
}

@media (max-width: 600px) {
    .kt-container {
        padding: 0;
    }

    .btn-create {
        display: none;
    }

    .icon-create {
        display: block;
        font-size: 20px;
        color: #5867dd;
    }

    .header__topbar {
        background: #fff;
        padding: 10px;
    }
}

@media (max-width: 768px) {
    .table-license-key, .table-slide {
        .table {
            min-width: 540px;
        }
    }
}