@media (max-width: 1024px) {
    .kt-aside-dark {
        .kt-aside {
            background-color: #ffffff!important;
        }
        .kt-aside-menu {
            background-color: #ffffff!important;
            .kt-menu__nav > {
                .kt-menu__item {
                    .kt-menu__link {
                        .kt-menu__link-text {
                            color: #3D4465!important;
                            font-weight: 600!important;
                        }
                        .kt-menu__ver-arrow {
                            color: #C4CFF9!important;
                        }
                    }
                    &.kt-menu__item--open > {
                        .kt-menu__link {
                            background-color: #F8F8FB!important;
                            .kt-menu__link-text {
                                color: #5d78ff!important;
                            }
                            .kt-menu__ver-arrow {
                                color: #5D78FF!important;
                            }
                        }
                    }
                }

                .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > {
                    .kt-menu__link {
                        background-color: #F8F8FB!important;
                    }
                }

                .kt-menu__item {
                    .kt-menu__submenu {
                        .kt-menu__item {
                            .kt-menu__link {
                                .kt-menu__link-text {
                                    color: #3D4465!important;
                                    font-weight: 400!important;
                                }
                            }
                            &.kt-menu__item--open > {
                                .kt-menu__link {
                                    background-color: #F8F8FB!important;
                                    .kt-menu__link-text {
                                        color: #5d78ff!important;
                                    }
                                }
                            }
                        }

                        .kt-menu__item:not(.kt-menu__item--parent):not(.kt-menu__item--open):not(.kt-menu__item--here):not(.kt-menu__item--active):hover > .kt-menu__link {
                            background-color: #F8F8FB!important;
                        }
                    }
                } 
            }
        }
    } 
}

@media (max-width: 1024px){
    .kt-header-mobile--fixed {
        .kt-wrapper {
            padding-top: 65px;
        }
        .kt-header__topbar {
            top: 0;
        }
    }
}