.table-custom {
    .table {
        tbody {
            td {
                line-height: 3;
                padding: 5px 10px;
                vertical-align: inherit;
            }
        }
    }
}