//
// Custom Example 1 Style
// Here you can put your custom sass code, use global SASS mixings and variables to override the theme or add new styles according to your requirements.
// Most of the changes can be achieved via global or layout level sass variable changes.
//

.my-custom-style {
  padding: 1rem 0.5rem;
  color: kt-brand-color();

  .my-custom-element {
    margin-left: 1rem;
  }
}

@include kt-tablet-and-mobile {
  .my-custom-style {
    padding: 0.5rem 0.25rem;

    .my-custom-element {
      margin-left: 0.5rem;
    }
  }
}

.search-box {
  .input-group-text {
    background-color: transparent;
  }
  input.form-control.form-control {
    border-left: 0;
    &:hover,
    &:focus,
    &:visited,
    &:active {
      border-color: #e2e5ec;
    }
  }
}

@media screen and (max-width: 1024px) { 
  input.form-control.form-control:focus,
  select:focus  {
    font-size: 12px;
  }  
}

.hover-pointer:hover {
  cursor: pointer;
}
.no-outline {
  outline: none !important;
  &:visited, &:focus, &:active, &:hover {
    outline: none !important;
  }
}