.login {
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 5px 4px #e4e4e4;
    &-content {
      padding: 20px 0;
      &_logo {
        font-size: 30px;
        font-family: roboto;
        font-weight: 600;
        color: #5867dd;
      }
      &_title {
        font-size: 20px;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    .login {
      width: 100%;
      height: 100%;
      background: none;
      box-shadow: none;
  
      &-content {
        padding: 20px 0;
        box-shadow: none;
  
        &_logo {
          font-size: 30px;
          font-family: roboto;
          font-weight: 600;
          color: #5867dd;
        }
  
        &_title {
          font-size: 20px;
        }
      }
    }
  }