<template>
  <div class="login">
    <div class="login-content">
      <div class="login-content_logo">
        LOGO
      </div>
      <h6 class="login-content_title mt-2">Đăng nhập đến Admin</h6>
      <div
        role="alert"
        v-bind:class="{ show: errors }"
        class="alert fade alert-danger mt-5 mb-5"
        v-if="errors"
      >
        <div class="alert-text">
          Bạn đã nhập sai Email hoặc Mật khẩu
        </div>
      </div>
      <b-form @submit.prevent="onSubmit">
        <b-form-group>
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            required
            class="mt-3"
            placeholder="Email"
            aria-describedby="input-1-live-feedback"
          ></b-form-input>
        </b-form-group>
        <b-form-group>
          <b-form-input
            id="input-2"
            v-model="form.password"
            type="password"
            required
            placeholder="Pass"
            aria-describedby="input-2-live-feedback"
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary" class="w-100 mt-4"
          >Đăng nhập
        </b-button>
      </b-form>
    </div>
  </div>
</template>

<style lang="scss">
  @import "./Login.scss";
</style>

<script>
import { mapState } from "vuex";
import { validationMixin } from "vuelidate";
import { minLength, maxLength, required } from "vuelidate/lib/validators";
import { UserRole } from "./../../constans";
import axios from "@/common/api.js";
import JwtService from "@/common/jwt.service";

export default {
  mixins: [validationMixin],
  name: "Login",
  components: {},
  data() {
    return {
      form: {
        email: "",
        password: "",
        loading: false
      },
      errorNumber: false,
      errors: false,
    };
  },

  created() {
  },

  methods: {
    onSubmit() {
      const dataBody = {
        email: this.form.email,
        password: this.form.password
      };

      axios({
        method: 'post',
        url: 'login',
        data: dataBody
      }).then((res) => {
        console.log(res);
        if (res.error === 'Email is not exist') {
          this.errors = true
        } else {
          JwtService.saveToken(JSON.stringify(res.token));
          this.$router.push("/dashboard");
        }
      })
    },

    handleJSON(data) {
      try {
        return JSON.stringify(data);
      } catch (error) {
        return '';
      }
    }
  }
};
</script>
